@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: 'tnum' 1, 'cv11' 1;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3, h4 {
    font-family: theme('fontFamily.display');
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
